<a href="https://colab.research.google.com/github/IAT-ExploringAI-2024/Week1-Introduction_to_Python/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON INTRODUCTION

#                                                      Table Of Content
1.introdution

     1.1 What is Python
     
2.Data types

     2.1 variables
     2.2 Numbers
     2.3 Strings
     2.4 Lists
     2.5 Dictionaries
     2.6 Tuples
     2.7 Sets
   
3.Comparison operators

4.If-Else statement

5.For Loop and While loop

6.Functions

7.Lambda functions

     7.1 Map()
     7.2 Filter()
   
8.File I/O

9.Pandas liberary introduction

10.Series

     10.1 From ndarray
     10.2 From dict
     10.3 From scalar value
     10.4 Series is ndarray-like
     10.5 Series is dict-like
     10.6 Vectorized operations and label alignment with series
   
11.Data frames

     11.1 From dict of series or dicts
     11.2 from dict of ndarrays/lists
     11.3 from a list of dicts
     11.4 from a list of tuples
     11.5 Alternate constructors
     11.6 Column selection, addition, deletion
     11.7 Indexing/ selection
     11.8 Data alignment
     11.9 transposing

# 1. Introduction

## 1.1 What is python

Guido Van Rossum developed the Python language in the late 1980s. In contrast to other popular languages such as C, C++, Java, and C#, Python strives to provide a simple but powerful syntax.It is open source general purpose language with great interactive environment.It provides all the three types of programming features Object Oriented, Procedural and Functional.It is used by many of the most highly productive professional programmers.Moreover, Python can also become a common language for production of web based analytics product. A few of the places that use Python extensively are Google, the New York Stock Exchange, Industrial Light,Magic etc.
#### Important features of Python:
 -  Built-in high level data types: strings, lists, dictionaries, etc.
 -  The usual control structures: if, if-else, if-elif-else, while, plus a powerful collection iterator (for).
 -  Multiple levels of organizational structure: functions, classes, modules, and  packages. These assist in organizing code. An excellent and large example is the Python standard library.
 - Compile on the fly to byte code -- Source code is compiled to byte code without a separate compile step. Source code modules can also be "pre-compiled" to byte code files.
 - Object-oriented -- Python provides a consistent way to use objects: everything is an object. And, in Python it is easy to implement new object types (called classes in object-oriented programming).
 - Extensions in C and C++ -- Extension modules and extension types can be written by hand. There are also tools that help with this, for example, SWIG, sip, Pyrex

# 2. Data types

There are various data types in Python. Some of the important types are listed below.

## 2.1 Variables

 - Python variables do not need explicit declaration to reserve memory space.
 - The declaration happens automatically when you assign a value to a variable.
 - The equal sign = is used to assign values to variables.
  
  Some examples are given as follows:

In [40]:
area = 200.30  #float type variable
Distance = 100 #integer type variabe
name = 'Sara' #string type variable

#print all values
print (area)
print(Distance)
print(name)

200.3
100
Sara

**<span style="color:red"> My Work </span>**

In [41]:
farea = 410.45 # float var
dist = 350 # integer
surname = "Leung" # string var

#printing variables 
print(farea)
print(dist)
print(surname)

410.45
350
Leung

## 2.2 Numbers

 - This data type store numeric values
 - Numbers are immutable data types (Immutable data types means values cannot be changed after it is created)

  Some examples are given as follows:

In [42]:
5 #integer

5

In [43]:
10+10 #integer

20

In [44]:
5.5+5.5 #float

11.0

In [45]:
5**2 #exponent

25

**<span style="color:red"> My Work </span>**

In [46]:
8 # integer

8

In [47]:
3 + 8 #integer

11

In [48]:
4.26 + 8.95 #float

13.209999999999999

In [49]:
6**3 #exponent

216

## 2.3 Strings

 - Strings in Python are identified as a contiguous set of characters represented in the quotation marks.
 - Python allows either pair of single or double quotes.
 - Strings are immutable.
 - Python doesn't support Char data type.It will beas string of length one in python.

In [50]:
Course="Artificial Intelligence"
name='Sara'
print(name, Course)

Sara Artificial Intelligence

**<span style="color:red"> My Work </span>**

In [51]:
#string VARIABLES and printing them together <3
course = "AI"
surname = "Smith"
print(surname, course)

Smith AI

### Access values in strings

 - we can access a specific character or range of characters from strings.
 - Subsets of strings can be taken using the slice operator [] and [:] with indexes starting from 0.

 Some examples are listed below:

In [52]:
stringVariable = 'Hello World'

print("stringVariable[0]:", stringVariable[0])
print("stringVariable[1:5]:", stringVariable[1:5])

stringVariable[0]: H
stringVariable[1:5]: ello

**<span style="color:red"> My Work </span>**

In [53]:
stringVar = "Hello World"

#prints the letter/char in position 2 
print("stringVar[2]: ", stringVar[2])

#prints letter/char in positions 2-6
print("stringVar[2:6]: ", stringVar[2:6])

stringVar[2]:  l
stringVar[2:6]:  llo

### Updating string

 - Value of string can be changed or updated by assigning a new value to it.
 - New value must have same data type as previous value.
 - For this purpose '+' operator is used as follows:

In [54]:
stringVariable ="Hello World "

stringVariable = stringVariable[:6]+"Python"


print ("updated string:",stringVariable)

updated string: Hello Python

**<span style="color:red"> My Work </span>**

In [55]:
#adds Python to the end of string
stringVar = stringVar[:6] + "Jupyter"
#print updated string!!!
print("Updated string: ", stringVar)

Updated string:  Hello Jupyter

### Delete string

 - we can delete the value of string by just deleteing its object.
 - 'del' keyword is used for this purpose

  It would be cleared by using following example:

In [56]:
stringVar ="Hello World "
print (stringVar)
del stringVar
print (stringVar)

Hello World

NameError: name 'stringVar' is not defined

**<span style="color:red"> My Work </span>**

In [144]:
myString = "This is an example sentence."
print(myString)
#deletes this entire string 
del myString
#gonna throw an error cuz it doesnt exist!!!
print(myString)

This is an example sentence.

NameError: name 'myString' is not defined

### String special operators

 - some special operators are used in Python to perform different opertions.
   These are given below:

#### String Concatenation

 - To concatenate the strings we used '+' operator.

    Following are the examples of concatenation:

In [145]:
stringvalue1="machine"
stringvalue2="learning"
print(stringvalue1+stringvalue2)

machinelearning

**<span style="color:red"> My Work </span>**

In [146]:
stringval1 = "Ctrl"
stringval2 = "Alt"
stringval3 = "Del"
print(stringval1 + " "+ stringval2 + " "+ stringval3)

Ctrl Alt Del

#### Repitition

 - '*' symbol is used for repitition.

In [147]:
stringvalue="Assignment"
print(stringvalue*2)

AssignmentAssignment

**<span style="color:red"> My Work </span>**

In [148]:
stringval = "click"
print(stringval*2)

clickclick

#### Use of [] symbol

 - '[]'symbol give the character of string at given index.

In [149]:
Stringvalue="Machine Learning"
print(Stringvalue[1])

a

**<span style="color:red"> My Work </span>**

In [150]:
print(stringval)
print(stringval[4])

click
k

#### Use of [:] symbol

 - [:] is used to get substring from string.

In [151]:
stringvalue="Hello"
print(stringvalue [1:3])

el

**<span style="color:red"> My Work </span>**

In [152]:
print(stringval)
print(stringval[2:5])

click
ick

#### use of 'in'

 - 'in' is used to check the existance of character in string.
 - It returns TRUE if given character exist in string,otherwise FALSE.

In [153]:
Stringvalue="Hello"
print('H' in Stringvalue)

True

**<span style="color:red"> My Work </span>**

In [154]:
#big R is not in arrrayyyy
stringvalue = "Arrray"
print("R" in stringvalue)

#small r is in SUPErSOAKER!!!
stringvalue2 = "Supersoaker"
print("r" in stringvalue2)

False
True

#### Use of "not in"

 - 'not in' returns true if given character is not in string,otherwise false.

In [155]:
Stringvalue="Hello"
print('G' not in Stringvalue)

True

**<span style="color:red"> My Work </span>**

In [156]:
#is lowercase g not present in grey??? no, grey has a lowercase g
stringvalue = "grey"
print("g" not in stringvalue)

#uppercase G is NOT present in grey so FALSEEEEE
print("G" not in stringvalue)

False
True

### String formatting operator

 - Python uses C-style string formatting to create new, formatted strings.
 - The "%" operator is used to format in print statement.

See following examples:

In [157]:
print("My name is %s and weight is %d kg!" % ("Sara", 21))

My name is Sara and weight is 21 kg!

**<span style="color:red"> My Work </span>**

In [158]:
#what can I say, i really like durian
print("My favourite food is %s and I can eat %d" % ("durian", 2))

My favourite food is durian and I can eat 2

## 2.4 Lists

 - Multiple types of data can be stored in a list.
 - A list contains items separated by commas and enclosed within square brackets [].
 - Individual elements of a list can be changed
 - list indices start with 0 just like arrays.

In [159]:
list1 = [ 'Mary', 2000 ]

print (list1) # Prints complete list

['Mary', 2000]

**<span style="color:red"> My Work </span>**

In [160]:
#list of my seatmate and their birth years
list1 = [ 'Caitelyn', 2000, "Victoria", 1997 ]
print (list1) 

#random list of namesi thought of
list2 = ["Sara", "Jessica", "Terence"]
print(list2)

['Caitelyn', 2000, 'Victoria', 1997]
['Sara', 'Jessica', 'Terence']

### Accessing values in list

 - Square brackets are used to access the values of a list
 - We can access specific values or range of values from a list

In [161]:
list1 = [ 'Physics' , 'Chemistry' , 1857, 3290]
list2 = [1,2,3,4,5,6,7]

print("list1[0]: ", list1[0])
print("list2[1:5]: ", list2[1:5])

list1[0]:  Physics
list2[1:5]:  [2, 3, 4, 5]

**<span style="color:red"> My Work </span>**

In [162]:
list2 = [3, 6, 9, 18, 657, 9290]

#from the pervious list of seatmates and birth years
print("list1[0]: ", list1[0])
#print the numbers in positions 3 to 6
print("list2[3:6]: ", list2[3:6])

list1[0]:  Physics
list2[3:6]:  [18, 657, 9290]

### Updating list

 - Value of string can be changed or updated by assigning a new value to it.
 - we can update single or multiple elements of a list by giving slice on left hand of the assignment operator.
 - we can also update list by using append() function.

In [163]:
list1=["dell","Hp","Apple"]
list1[1]="samsung"
print(list1)

list1.append('acer')
print(list1)

['dell', 'samsung', 'Apple']
['dell', 'samsung', 'Apple', 'acer']

**<span style="color:red"> My Work </span>**

In [164]:
#using previous list
list1
#added CATELYN AGAIN
list1[1]="Catelyn"
print(list1)

list1.append('Jessica')
print(list1)

['dell', 'Catelyn', 'Apple', 'acer']
['dell', 'Catelyn', 'Apple', 'acer', 'Jessica']

### Delete List Element

- we can delete the element of list by using del keyword or remove()function.
- 'del' keyword is used when you know the position or index of element to be deleted.
- remove() function can be used when you don't know the postion of element to be removed.

  It would be cleared by using following example:

In [165]:
list1=["dell","Hp","Apple"]
print (list1) # Prints complete list
del list1[1]
print("After deleting the value ")
print (list1)

['dell', 'Hp', 'Apple']
After deleting the value
['dell', 'Apple']

In [166]:
list1=["dell","Hp","Apple"]
print (list1) # Prints complete list

list1.remove('Hp')
print("After deleting the value ")
print (list1)

['dell', 'Hp', 'Apple']
After deleting the value
['dell', 'Apple']

**<span style="color:red"> My Work </span>**

In [167]:
list1=["apple","banana","orange"]
print (list1) 

#deletes bana because its in position 1
del list1[1]

#prints updated list without banana :()
print("After deleting the value: ")
print (list1)

['apple', 'banana', 'orange']
After deleting the value:
['apple', 'orange']

## 2.5 Dictionaries

 - Dictionary is an unordered set of key: value pairs, with the requirement that the keys are unique (within one dictionary).
 - Each key is seperated by colon(:) from its value.
 - Each item is seperated with comma(,).
 - A pair of braces creates an empty dictionary: {}.
 - Python's dictionaries are kind of hash-table type.
 - A dictionary key can be almost any Python type, but are usually numbers or strings. Values, on the other hand, can be any       arbitrary Python object.
 - Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using square braces ([])
 - Dictionaries have no concept of order among elements. It is incorrect to say that the elements are "out of order"; they are simply unordered

## Accessing value in dictionary

- Square brackets [] along with the key are used to access its value.

In [168]:
dict1 = {'Name':"Sara" , "Department" : "SIAT", "Batch":2023}
print(dict1['Name'])

Sara

**<span style="color:red"> My Work </span>**

In [169]:
#FRUIT LISTTTTT
dict1 = {'Fruit':"Peach" , "Colour" : "Pink", "Weight":500}
print(dict1['Colour'])

Pink

### Updating Dictionary

- we can update values in dictionary
- we can also add new values in dictionary

Some examples are given below:

In [170]:
dict1 = {'Name':"Sara" , "Department" : "SIAT", "Batch":2023}
print(dict1)
dict1['Batch']="S23"
print(dict1)

{'Name': 'Sara', 'Department': 'SIAT', 'Batch': 2023}
{'Name': 'Sara', 'Department': 'SIAT', 'Batch': 'S23'}

**<span style="color:red"> My Work </span>**

In [171]:
#using fruitlist from above
dict1
#changes the peach weight from 500 to 450
dict1["Weight"] = "450"
#print new fruit list
print(dict1)

{'Name': 'Sara', 'Department': 'SIAT', 'Batch': 'S23', 'Weight': '450'}

### Delete Dictionary element

- we can delete elements of dictionary as well as complete content of dictionary.
- To delete single element del keyword is used.
- clear() function  is used to remove complete dictionary.

 Some examples are as follows:

In [172]:
dict1 = {'Name':"Sara" , "Department" : "SIAT", "Batch":2023}
print(dict1)

del dict1['Batch']
print(dict1)

{'Name': 'Sara', 'Department': 'SIAT', 'Batch': 2023}
{'Name': 'Sara', 'Department': 'SIAT'}

In [173]:
dict1 = {'Name':"Sara" , "Department" : "SIAT", "Batch":2023}
dict1.clear()
print(dict1)

{}

**<span style="color:red"> My Work </span>**

In [174]:
#using fruit list dict1 from above

del dict1['Colour']
print(dict1)

KeyError: 'Colour'

In [ ]:
#clearing our fruit list
dict1.clear()
print(dict1)
#will give us NOTHING :(

## 2.6 Tuples

 - A tuple is another sequence data type that is similar to the list.
 - A tuple consists of a number of values separated by commas. Unlike lists, however, tuples are enclosed within parenthesis.
 - The main difference between lists and tuples are − Lists are enclosed in brackets ( [ ] ) and their elements and size can be  changed, while tuples are enclosed in parentheses ( ( ) ) and cannot be updated. Tuples can be thought of as read-only lists.   
 - It can also have multiple data type values.

  For example:

### Accessing values in Tuples

- Square brackets [] along with the index are used to access its value.

In [ ]:
tuple1 = ( 'simon','sara' , '20', 'saira40')

print (tuple1)
print(tuple1[1:3])

**<span style="color:red"> My Work </span>**

In [ ]:
#tuple of neopets breeds
tupleneo = ("ixi", "ruki", "chia", "chomby", "shoryu")

#print the tuple
print(tupleneo)

#only pring the neopeys chia and chomby and shoryu
print(tupleneo[2:5])

### Updating Tuples

- Tuples are immutable means we cannot change the value of tuple.
- It is read only.
- we are able to take portions of tuples to make a new tuple.

In [ ]:
tuple1=('sun','mon','tue','wed','thur','fri' , 'sat')
tuple2=(1,2,3,4,5,6,7)
print(tuple1)
print(tuple2)
tuple3=(tuple1+tuple2)
print(tuple3)

**<span style="color:red"> My Work </span>**

In [ ]:
tupleneo = ("ixi", "ruki", "chia", "chomby", "shoryu")
tupleneoloc = ("haunted woods", "faerieland", "krawk island", "maraqua")
#print tuple 1 
print(tupleneo)

#print tuple 2
print(tupleneoloc)

#add the two tuples together (after each other)
tuplemerge=(tupleneo+tupleneoloc)

#PRINT THE NEW AND IMPROVED TUPLE
print(tuplemerge)

### Delete tuple elements

- we cannot delete single elements of tuple because they cannot be updated.
- To delete entire elements del keyword is used.

 Some examples are as follows:

In [ ]:
tuple1=('sun','mon','tue','wed','thur','fri' , 'sat')
tuple2=(1,2,3,4,5,6,7)
print(tuple1)
print(tuple2)
del(tuple1)
print(tuple1)

**<span style="color:red"> My Work </span>**

In [ ]:
#using THE TUPLENEO AND TUPLE NEOLOC

#print tupleneo
print(tupleneo)

#delete the tuple
del(tupleneo)

#try to print it again
print(tupleneo)

# 2.7 Sets

 - A set is an unordered collection in which each value occurs at most once.
 - You can use curly braces to give an expression whose value is a set.
 - Python prints sets using curly braces.
 - Every value in a set is immutable but the set itself is immutable we can add o remove items from it.
 - Sets can be used to perform mathematical operations like union,intersection,etc
 - Empty set will be written as {}.
 - We can also make a set from a list using set() function.
 - Data type can be found using type() function.
 - add() is used to add single value, update() is used for adding multiple values.
 - update() function can take tuple,string,list or other set as argument.
 - discard() and remove() are used to delete specific item from list.
 - discard() will not raise an error if item doesn't exist.
 - remove() will raise an error if item doesn't exist in set.
 - The cardinality of a set S is the number of elements in the set.
 - In Python, the cardinality of a set is obtained using the function len(·).

In [ ]:
#list
list1=[1,2,3,4,5]

print(type(list1))

my_set=set(list1)

print(type(my_set))

#set of integers
my_set={1,2,3}
print(my_set)

#set of mixed data types
my_set={1, "Hello"}

#adding a single value
my_set.add("D")

#adding multiple values
my_set.update(list1)
print(my_set)


my_set.discard('G') #it will not raise an error
my_set.remove('G') #it will raise an error

**<span style="color:red"> My Work </span>**

In [ ]:
#list
list1=[2,4,6,8,10,12]

print(type(list1))

#making the list into my set
my_set=set(list1)

print(type(my_set))

#set of integers
my_set={3,5,7,9}
print(my_set)

#set of mixed data types
my_set={3, "Hello"}

#adding a single value
my_set.add("R")

my_set.update(list1)
print(my_set)


my_set.discard('G') #it will not raise an error  because there is no G in my set
my_set.remove('G') #it will raise an error

# 3.Comparison Operators

 - Comparison operators are used to compare values and return TRUE/FALSE according to the situation.
 - Python defines the following comparison operators:

### Less than operator  (<)

In [ ]:
10<17

### Less than equal to operator (<=)

In [ ]:
15<=10

### Equal to operatoe (==)

In [ ]:
16==16

In [ ]:
"Sara"=="sara"

In [ ]:
"ALI"=="ALI"

### Not equal to operator (!=)

In [ ]:
3!=5

### OR Operator

In [ ]:
(10==10)or(10<17)

### And operator

In [ ]:
(10==10)and (10<17)

**<span style="color:red"> My Work </span>**

In [ ]:
#less
4 < 7

In [ ]:
#less than
14 <= 67

In [ ]:
#equal to 
"equal" == "EQUAL"

In [ ]:
34 == 98

In [ ]:
#not equal to 

"Ghana" != "ghana"

In [ ]:
(5==5) or (5<9)

In [ ]:
(5==5) and (5<9)

# 4.If else statement

 - The if–else is used to make choices in Python code.
 - This is a compound statement.
 - The syntax is:
 - if c o n d i t i o n
          action −1
  else :
          action −2
 - The indentation is required

In [ ]:
x = 3
if x > 0:
    print(" sunday is wonderful")
else :
    print(" Monday is Good ")

In [175]:
if 25 % 2:
  print("Even")
else:
  print("Odd")

Even

**<span style="color:red"> My Work </span>**

In [176]:
#marco polo or pogo???
x = "marco"
if x == "marco":
    print("polo")
else: 
    print("pogo")

polo

In [177]:
#even or odd number checker
if 57 % 2:
  print("this number is even")
else:
  print("this number is odd")

this number is even

# 5.For and while loop

- Python has for and while loop for iteration,used when we want to perfrom a specific task repeatedly.

### For loop

- The for statement is used to iterate over the elements of a sequence.
- It's traditionally used when you have a piece of code which you want to repeat n number of time.
- The syntax of a for loop is:

    for item in list :
      a c t i o n
- As usual, the action consists of one or more statements, all at the same indentation level. These statements are also known as the body of the loop. The item is a variable name, and list is a list.
- Execution of the for loop works by setting the variable successively to each item in the list, and then executing the body each time.

  Here is a simple example:

In [178]:
for i in [2 , 4 , 6 , 0]:
    print(i)

2
4
6
0

In [179]:
for counter in range(1, 6):
    print (counter)

1
2
3
4
5

In [180]:
word = "sara"
for letter in word:
    print (letter)

s
a
r
a

**<span style="color:red"> My Work </span>**

In [181]:
#print the 3rd letter in the list of words
for i in ["Sweden", "Denmark", "Finland", "Norway", "Iceland"]:
    print(i[2])

e
n
n
r
e

### While loop

In [182]:
a=0
while a < 10:
  a=a+1
  print(a)

1
2
3
4
5
6
7
8
9
10

**<span style="color:red"> My Work </span>**

In [183]:
#counting by 2s 
a=0
while a <= 10:
    a = a+2
    print(a)

2
4
6
8
10
12

# 6.Functions

 - You use functions in programming to bundle a set of instructions that you want to use repeatedly or that, because of their  complexity, are better self-contained in a sub-program and called when needed.                                 
 - Function is a piece of code written to carry out a specified task.
 - There are three types of functions in Python:
 - Built-in functions, such as help() to ask for help, min() to get the minimum value, print() to print an object.
 - User-Defined Functions (UDFs), which are functions that users create to help them out.
 - Anonymous functions, which are also called lambda functions because they are not declared with the standard def keyword.
 - The syntax is:

   def functionname(parameters)
    
   "function_docstring"
   
   function_suite
   
   return [expression]

In [184]:
def my_function(name):
  #This prints a passed string into this function
    print(name)
    return;

#Now you can call my_function
my_function("Mary")

Mary

**<span style="color:red"> My Work </span>**

In [185]:
def addingtgt(a, b):
#adds the two numbers passed together  
    c = a+b
    return c

addingtgt(5, 10)

15

# 7.Lambda Functions

 - The creation of anonymous functions at runtime,using a construct called "lambda"
 - A lambda function is a small anonymous function.
 - A lambda function can take any number of arguments, but can only have one expression.
 - Lambda function does not include return statement,it always contains an expression which is returned.
 - You might want to use lambdas when you don’t want to use a function twice in a program.

   some examples are given:

In [186]:
#Normal Function
def f (x):
  return x**2
print (f(8))

64

In [187]:
times3 = lambda var:var*3
times3(10)

#lamba expressions : another way to write a function in line

30

In [188]:
add = lambda x, y: x + y

print(add(3, 5))

8

**<span style="color:red"> My Work </span>**

In [189]:
#subtraction lambda
subtract = lambda x, y: x - y
#squared lambda
squares = lambda a: a*a

print(subtract(195, 67))
print(squares(465))

128
216225

## 7.1 Map()

 - Map() function is used with two arguments.Just like: r=map(func,seq)
 - The first argument func is function name and the second is a sequence(list etc)
 - Map functions expects a function object and any number of iterables like list, dictionary, etc.
 - It executes the function_object for each element in the sequence and returns a list of the elements modified by the function  object.

   Example:

In [190]:
sentence = "It is raining cats and dogs"
words = sentence.split()
print(words)

lengths= map(lambda word :len(word), words)

list (lengths)

['It', 'is', 'raining', 'cats', 'and', 'dogs']

[2, 2, 7, 4, 3, 4]

**<span style="color:red"> My Work </span>**

In [191]:
sentence = "Oh no! Try again, you can do it"
words = sentence.split()
print(words)

lengths= map(lambda word :len(word), words)

wordlen = list(lengths)
print(wordlen)
 #splits the sentences in words and then counts the number of letters in each word

['Oh', 'no!', 'Try', 'again,', 'you', 'can', 'do', 'it']
[2, 3, 3, 6, 3, 3, 2, 2]

## 7.2 Filter()

 - The filter() method filters the given iterable with the help of a function that tests each element in the iterable to be true or not.
 - The syntax of filter() method is:
      filter(function, iterable)
 - The filter() method takes two parameters:

      1)function - function that tests if elements of an iterable returns true or false If None, the function defaults to Identity function - which returns false if any elements are false
      
      2)iterable - iterable which is to be filtered, could be sets, lists, tuples, or containers of any iterators
 - The filter() method returns an iterator that passed the function check for each element in the iterable.

In [192]:
# list of alphabets
alphabets = ['a', 'b', 'd', 'e', 'i', 'j', 'o']

# function that filters vowels
def filterVowels(alphabet):
    vowels = ['a', 'e', 'i', 'o', 'u']

    if(alphabet in vowels):
        return True
    else:
        return False

for i in filter(filterVowels, alphabets):
     print(i)

a
e
i
o

In [193]:
# random list
randomList = [1, 'a', 0, False, True, '0']

filteredList = filter(None, randomList)

print('The filtered elements are:')
for element in filteredList:
    print(element)

The filtered elements are:
1
a
True
0

In [194]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for x in adults:
  print(x)

18
24
32

**<span style="color:red"> My Work </span>**

In [195]:
sentence = "Oh no! Try again, you can do it"

# filters the vowels in the sentence
def filterVowels(alphabet):
    vowels = ['a', 'e', 'i', 'o', 'u']

    if(alphabet in vowels):
        return True
    else:
        return False

for i in filter(filterVowels, sentence):
     print(i)

o
a
a
i
o
u
a
o
i

# 8.File I/O

 - In this section we will cover basic I/O functions.

## Reading input from keyboard

 -  There are two functions in Python that you can use to read data from the user:raw_input and input
 -  You can store the results from them into a variable
 -  If the input function is called, the program flow will be stopped until the user has given an input and has ended the input  with the return key. The text of the optional parameter, i.e. the prompt, will be printed on the screen.

 Let's have a look at the following example:

In [196]:
name = raw_input("What's your name? ")
print("Nice to meet you " + name + "!")

NameError: name 'raw_input' is not defined

In [ ]:
age = raw_input("What's your age? ")
print("your age is " + age + "!")

In [ ]:
string=raw_input("enter your university....")
print(string)


**<span style="color:red"> My Work </span>**

In [ ]:
#what i wish a man would say to me
name = raw_input("What would you like to be called, princess?")
print(name + ", it's wonderful to see you. I will dedicate my life to yours.")

## I/O From or to text file

 - In this scenario, we will read and write to a text file.
 - we can open files in different modes.

## Read only mode

 - r opens a file in read only mode.
 - The file pointer is placed at the beginning of the file.
 - This is the default mode.

In [ ]:
file = open("hello.txt", "r")
str=file.read();
print(str)
file.close()

**<span style="color:red"> My Work </span>**

In [ ]:
#opens and reads the txt file into my notebook
file = open("icy.txt", "r")
str=file.read();
print(str)
file.close()

## Read and write mode

 - r+ opens a file in read and write mode.
 - The file pointer placed at the beginning of the file

In [ ]:
# Open a file
file = open("hello.txt", "r+")
str = file.read(10);
print("Read String is : ", str)
# Close opend

**<span style="color:red"> My Work </span>**

In [ ]:
#reads the first 25 characters in the txt file
file = open("hello.txt", "r+")
str = file.read(25);
print("Read String is : ", str)

## Write mode only

 - w opens a file in write mode only.
 - Overwrites the file if the file exists. If the file does not exist, creates a new file for writing

In [ ]:
file = open('write.txt','w')
file.write("This is the write command")
file.write("It allows us to write in a particular file")
file = open('write.txt','r')
str=file.read()
print(str)
file.close()

**<span style="color:red"> My Work </span>**

In [ ]:
#opens/creates a new txt file and then we are writing a few sentences in it
file = open('write.txt','w')
file.write("We are writing in this text file.")
file.write("I will likely delete this file after it has been committed and pushed")
file = open('write.txt','r')
str=file.read()
print(str)
file.close()

## Append mode

 - a opens a file in append mode.
 - The file pointer is at the end of the file if the file exists.
 - That is, the file is in the append mode. If the file does not exist, it creates a new file for writing.

In [ ]:
file = open('write.txt','a')
file.write("This will add this line")
file = open('write.txt','r')
str=file.read()
print(str)
file.close()

**<span style="color:red"> My Work </span>**

In [ ]:
#opens the write.txt file to add/append onto it
file = open('write.txt','a')
file.write("I wish i knew how to create a line break.")
file = open('write.txt','r')
str=file.read()
print(str)
file.close()

## Append and read mode

 - a+ opens a file in append and read mode.
 - The file pointer is at the end of the file if the file exists. The file opens in the append mode. If the file does not exist,    it creates a  new file for reading and writing.

In [ ]:
file = open('hello.txt','a+')
file.write("MSCS From comsats university")
file.close()
file = open('hello.txt','r')
str=file.read()
print(str)
file.close()

**<span style="color:red"> My Work </span>**

In [ ]:
#adds the specified sentence toi the txt file 
file = open('hello.txt','a+')
file.write("I often go to icy bar with my friends on the weekends")
file.close()
file = open('hello.txt','r')
str=file.read()
print(str)
file.close()

## File Position

 - tells() method tells the current position within the file.
 - seek() method changes the current file method.
 - Following is the syntax for seek() method:    fileObject.seek(offset[, whence])

In [ ]:
f = open('hello.txt',"r+")
str=f.read(20);
print("read string is :",str)

position=f.tell();
print("current file position is :",position)

position=f.seek(5);
str=f.read(10);
print("again read string is :",str)
f.close()

**<span style="color:red"> My Work </span>**

In [ ]:
#opens the hello.txt file and reads the first 25 characterws
f = open('hello.txt',"r+")
str=f.read(25);
print("read string is :",str)

#tells you where the current pointer position
position=f.tell();
print("current file position is :", position)

#reads the next 10 characters from the file pointer positionl at the fifth character
position=f.seek(5);
str=f.read(10);
print("Again read string is :",str)
f.close()

# 9.Pandas Introduction

Pandas is an open-source Python Library providing high-performance data manipulation and analysis tool using its powerful data structures. The name Pandas is derived from the word Panel Data – an Econometrics from Multidimensional data. In 2008, developer Wes McKinney started developing pandas when in need of high performance, flexible tool for analysis of data.

Prior to Pandas, Python was majorly used for data munging and preparation. It had very less contribution towards data analysis. Pandas solved this problem. Using Pandas, we can accomplish five typical steps in the processing and analysis of data, regardless of the origin of data — load, prepare, manipulate, model, and analyze.

Python with Pandas is used in a wide range of fields including academic and commercial domains including finance, economics, Statistics, analytics, etc.

#### Key Features of Pandas

-  Fast and efficient DataFrame object with default and customized indexing.
-  Tools for loading data into in-memory data objects from different file formats.
-  Data alignment and integrated handling of missing data.
-  Reshaping and pivoting of date sets.
- Label-based slicing, indexing and subsetting of large data sets.
- Columns from a data structure can be deleted or inserted.
- Group by data for aggregation and transformations.
- High performance merging and joining of data.
- Time Series functionality.

Pandas deals with the following three data structures:
- Series
- DataFrame
- Panel

These data structures are built on top of Numpy array, which means they are fast.

# 10.Series

- The Series is a one-dimensional array that can store various data types, including mix data types.
- The row labels in a Series are called the index.
- Any list, tuple and dictionary can be converted in to Series using ‘series’ method
- Basic method to create a series: s = pd.Series(data, index = index)
- Series is size immutable.

In [ ]:
import pandas as pd

In [ ]:

s = pd.Series([1, 'Lahore', 2, 3, 'Happy Eating!'])
s

**<span style="color:red"> My Work </span>**

In [ ]:
#making a series from the split sentence from earlier
s= pd.Series(words)
s

## 10.1 Series creation from ndarray

- Index must be of same length as data. If no index is passed, it will automatically be [0, ..., len(data) - 1]

In [ ]:
first_series = pd.Series([1,2,4,8,16,32,64])
print(type(first_series))
print(first_series)

In [ ]:
import numpy as np
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s)
print('-'*50)
print(s.index)

**<span style="color:red"> My Work </span>**

In [ ]:
#random serires with specified index and random values
s = pd.Series(np.random.randn(10), index=["Aaron", "Angela", "Brad", "Betty", "Connor", "Christina", "Edward", "Eva", "Fred", "Fiona"])
print(s)
print('-'*50)
print(s.index)

## 10.2 Series creation from dict

- If Data is a dictionary, if index is passed the values in data corresponding to the labels in the index will be pulled out, otherwise an index will be constructed from the sorted keys of the dict.

In [ ]:
d = {'a': 100., 'b': 200., 'c': 300.}
pd.Series(d)

In [ ]:
data = {'abc': 1, 'def': 2, 'xyz': 3}
pd.Series(data)

**<span style="color:red"> My Work </span>**

In [ ]:
#creates a series from a dict
namesnyear = {'Catelyn': 2000, 'Erica': 2000., 'Victoria': 1997}
pd.Series(namesnyear)

## 10.3 Series creation from a scalar value

- Index must be provided. The value will be repeated to match the length of the index

In [197]:
pd.Series(5, index = ['a', 'b', 'c'])

a    5
b    5
c    5
dtype: int64

In [198]:
 x = pd.Series(3, index=['a', 'b', 'c', 'd'])
x

a    3
b    3
c    3
d    3
dtype: int64

**<span style="color:red"> My Work </span>**

In [199]:
#series where all the labels have the same value 150
d.Series(150, index = ["Alberta", "BC", "Manitoba", "Ontario", "Saskatchewan", "PEI"])

AttributeError: 'dict' object has no attribute 'Series'

## 10.4 Series is ndarray-like

- Series acts similar to a numpy array, and is valid arguments to most numpy functions.
- Slicing also slices the index
- Short Intro, back to this later

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s)

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s.iloc([2,1,4]))

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s[:3])

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s[[3,2,1]])

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
np.exp(s)

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s['b']

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s['b']=12.
s

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
'e' in s

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
'f' in s

**<span style="color:red"> My Work </span>**

In [200]:
#creates a series with random values
s = pd.Series(np.random.randn(10), index=["Aaron", "Angela", "Brad", "Betty", "Connor", "Christina", "Edward", "Eva", "Fred", "Fiona"])
#prints the first 3 entires
print(s[:3])
#rewrites the value at Brad
s['Brad']=6.93
s
#checks if Stephanie is in the series
"Stephanie" in s

Aaron     0.086971
Angela   -0.495495
Brad      1.361139
dtype: float64

False

## 10.5 Series is dict-like

- A Series is like a xed-size dict in that you can get and set values by index label

In [201]:
s = pd.Series([1, 2, 3, 4])
s.to_dict()

{0: 1, 1: 2, 2: 3, 3: 4}

**<span style="color:red"> My Work </span>**

In [202]:

s = pd.Series(["Catelyn", "Erica", "Victoria"])
s.to_dict()

{0: 'Catelyn', 1: 'Erica', 2: 'Victoria'}

## 10.6 Vectorized operations and label alignment with Series

- When doing data analysis,as with the row NumPy arrays looping through series value by value is usually not necessary.
- Series can also be passed into most NumPy method expecting an ndarray.
- NumPy and Pandas generalize arithmetic operations so that we can easily and quickly perform the same operation on many array elements. For example:

In [203]:
import numpy as np

In [204]:
x = np.array([2, 3, 5, 7, 11, 13])
x * 2

array([ 4,  6, 10, 14, 22, 26])

In [205]:
data = ['saima', 'aisha', 'faiza', 'saira']
[s.capitalize() for s in data]

['Saima', 'Aisha', 'Faiza', 'Saira']

**<span style="color:red"> My Work </span>**

In [206]:
#creates a series with province names and then capitalizes the names
provinces = ["bc", "alberta", "ontario", "manitoba", "saskatchewan", "pei", "newfoundland and labrador"]
[s.capitalize() for s in provinces]

['Bc',
 'Alberta',
 'Ontario',
 'Manitoba',
 'Saskatchewan',
 'Pei',
 'Newfoundland and labrador']

# 11.Data Frames

- A DataFrame is a two dimensional object that can have columns with potential different types. Different kind of inputs include dictionaries, lists, series, and even another DataFrame.
- It is the most commonly used pandas object.
- You can create a series from:
    - Dict of 1D ndarrays, lists, dicts, or Series
    - 2-D numpy array
    - A list of dictionaries
    - A Series
    - Another Dataframe
  
- index/ columns is a list of the row/ column labels. If you pass an index and/ or columns, you are guarenteeing the index and /or column of the df.
- If you do not pass anything in, the input will be constructed by "common sense" rules

In [207]:
dates = pd.date_range('20130101',periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

**<span style="color:red"> My Work </span>**

In [208]:
dates = pd.date_range('20200101',periods=5)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05'],
              dtype='datetime64[ns]', freq='D')

## 11.1 Dataframe creation from dict of series or dicts

 - The index of the resulting DataFrame will be the union of the indices of the various Series. If there are any nested dicts, these will be converted to Series.
 - If no columns are passed, the columns will be the sorted list of dict keys.

In [209]:
# Create a dictionary of series
d = {'one': pd.Series([1,2,3], index = ['a', 'b', 'c']),
'two': pd.Series(list(range(4)), index = ['a','b', 'c', 'd'])}
# Columns are dictionary keys, indices and values obtained from series
df = pd.DataFrame(d)
# Notice how it fills the column one with NaN for d
print(df)

   one  two
a  1.0    0
b  2.0    1
c  3.0    2
d  NaN    3

**<span style="color:red"> My Work </span>**

In [210]:
#df with provincial names and years they joined confedeartion
confed = {'Provinces': ["Nova Scotia", "New Brunswick", "Quebec", "Ontario"], 'Year They Joined Confederation': [1999, 1999, 1999, 1999]}
df = pd.DataFrame(confed)
df

       Provinces  Year They Joined Confederation
0    Nova Scotia                            1999
1  New Brunswick                            1999
2         Quebec                            1999
3        Ontario                            1999

## 11.2  Dataframe creation from dict of ndarrays/lists

 - The ndarrays must all be the same length.
 - If an index is passed, it must clearly also be the same length as the arrays. If no index is passed, the result will be range(n), where n is the array length.

In [211]:
d = {'one' : [1., 2., 3., 4.], 'two' : [4., 3., 2., 1.]}
pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [212]:
df2 = pd.DataFrame(np.random.randint(low=0, high=10, size=(5, 5)), columns=['a', 'b', 'c', 'd', 'e'])
df2

   a  b  c  d  e
0  7  3  7  6  4
1  8  1  0  2  2
2  1  6  5  3  2
3  8  9  4  9  7
4  2  4  4  9  0

**<span style="color:red"> My Work </span>**

In [213]:
#potential growth compared to treatments applied
d = {'Growth' : [345, 984, 730, 290, 875, 547], 'Treatment' : ["a", "a", "a", "b", "b", "b"]}
pd.DataFrame(d)

   Growth Treatment
0     345         a
1     984         a
2     730         a
3     290         b
4     875         b
5     547         b

## 11.3 Dataframe creation from a list of dicts

In [214]:
data = [{'a':10,"b":20},{'a':5,'b':10,'c':20}]
pd.DataFrame(data)

    a   b     c
0  10  20   NaN
1   5  10  20.0

In [215]:
data = [{'a':10,"b":20,"c":30},{'a':5,'b':10,'c':20}]
pd.DataFrame(data)

    a   b   c
0  10  20  30
1   5  10  20

**<span style="color:red"> My Work </span>**

In [216]:
data = [{'a':345,"b":875,"c":304},{'a':984,'b':290,'c':220}]
pd.DataFrame(data)

     a    b    c
0  345  875  304
1  984  290  220

## 11.4 Dataframe creation from a dict of tuples

 - You can automatically create a multi indexed by passing a tuple dictionary.

In [217]:

df = pd.DataFrame({'Initial': ['C','A','M'], 'Sex': ['M', 'F', 'F'], 'Age': [49, 39, 19]})
#df = df[['Initial', 'Sex', 'Age']]
df

  Initial Sex  Age
0       C   M   49
1       A   F   39
2       M   F   19

In [218]:
data = [('p1', 't1', 1, 2),('p1', 't2', 3, 4),('p2', 't1', 5, 6),('p2', 't2', 7, 8),('p2', 't3', 2, 8)]

df = pd.DataFrame(data)
df

    0   1  2  3
0  p1  t1  1  2
1  p1  t2  3  4
2  p2  t1  5  6
3  p2  t2  7  8
4  p2  t3  2  8

**<span style="color:red"> My Work </span>**

In [219]:
#df with ID,Treatment, and their score in a study
df = pd.DataFrame({'ID': ['A','B','C'], 'Treatment': ['A', 'B', 'A'], 'Score': [932, 124, 834]})
df

  ID Treatment  Score
0  A         A    932
1  B         B    124
2  C         A    834

## 11.5 Alternate constructors

### Dataframe.from_dict

 - Dataframe.from_dict takes a dict of dictsor a dict of array like sequences and returns a Dataframe.
 - It operates like the dataframe constructor except for the orient parameter which is coulmn by default,but which can be set to index in order to use the dict keys as row labels.

In [220]:
data = {"X": {'a': 1, 'b': 2, 'c': 3}, "Y": {'d': 4, 'e': 5, 'f': 6}, "Z": {'g': 7, 'h': 8, 'i': 9}}

df = pd.DataFrame.from_dict(data, orient="index").fillna(0).astype(int)
df

   a  b  c  d  e  f  g  h  i
X  1  2  3  0  0  0  0  0  0
Y  0  0  0  4  5  6  0  0  0
Z  0  0  0  0  0  0  7  8  9

**<span style="color:red"> My Work </span>**

In [221]:
data = {"Control": {'a': 1, 'b': 2, 'c': 3, 'd': 2, 'e':9, "f":1 }, "Treatment": {'a': 6, 'b': 6, 'c': 7,'d': 9, 'e': 5, 'f': 6}}
#chart style
df = pd.DataFrame.from_dict(data).fillna(0).astype(int)
df

   Control  Treatment
a        1          6
b        2          6
c        3          7
d        2          9
e        9          5
f        1          6

In [222]:
#index style
df = pd.DataFrame.from_dict(data, orient="index").fillna(0).astype(int)
df

           a  b  c  d  e  f
Control    1  2  3  2  9  1
Treatment  6  6  7  9  5  6

### Dataframe.from_records

- Dataframe.from_records take a list of tuples or an ndarray with structured dtype.
- Works analogously to the normal dataframe constructor,except that index may be aspecific field of the structured dtype to use as the index.for example:

In [223]:
sales = [('Jones LLC', 150, 200, 50),
     ('Alpha Co', 200, 210, 90),
     ('Blue Inc', 140, 215, 95)]
labels = ['account', 'Jan', 'Feb', 'Mar']
df = pd.DataFrame.from_records(sales, columns=labels)
df

     account  Jan  Feb  Mar
0  Jones LLC  150  200   50
1   Alpha Co  200  210   90
2   Blue Inc  140  215   95

**<span style="color:red"> My Work </span>**

In [224]:
#df of cities and high and low temperatures
temps = [('Vancouver', 2, -3),
     ('Surrey', 0, -7 ),
     ('Richmond', 3, -1)]
labels = ['City', 'High', 'Low']
df = pd.DataFrame.from_records(temps, columns=labels)
df

        City  High  Low
0  Vancouver     2   -3
1     Surrey     0   -7
2   Richmond     3   -1

### Dataframe.from_items

- Convert (key, value) pairs to DataFrame. The keys will be the axis index (usually the columns, but depends on the specified orientation). The values should be arrays or Series.

In [225]:
df=pd.DataFrame.from_items([('A',[1,2,3]),('B',[4,5,6])])

AttributeError: type object 'DataFrame' has no attribute 'from_items'

In [226]:
df=pd.DataFrame.from_items([('A',[1,2,3]),('B',[4,5,6])])
df

AttributeError: type object 'DataFrame' has no attribute 'from_items'

**<span style="color:red"> My Work </span>**

In [227]:
#not sure why this is throwing up an error? but i'll write the code to show that i know it 
frame=pd.DataFrame.from_items([('Province',["NS","AB","NB"]),('Population (in millions)',[4,15,3])])

AttributeError: type object 'DataFrame' has no attribute 'from_items'

## 11.6 Column selection,addition,deletion

 - You can treat a DataFrame semantically like a dict of like-indexed Series objects. Getting, setting, and deleting columns works with the same syntax as the analogous dict operations:

In [228]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['a','a']) # you can adress column by index
df

   a  a
0  1  2
1  3  4
2  5  6

In [229]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['a','a'])
df.columns = ['a','b']  # rename column
df

   a  b
0  1  2
1  3  4
2  5  6

In [230]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['a','b'])
del df['b']   # delete column
df

   a
0  1
1  3
2  5

In [231]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['a','b'])
df['c']='2'   #add new column c and fill with 2
df

   a  b  c
0  1  2  2
1  3  4  2
2  5  6  2

**<span style="color:red"> My Work </span>**

In [239]:
df = pd.DataFrame([[3,6],[2, 8],[45, 9]], columns=['manual','input'])
df['randomly generated']=np.random.randint(low=0, high=10, size=(3, 1))   #adds new column and populates it with randomly generated #s between 0-10
df

   manual  input  randomly generated
0       3      6                   5
1       2      8                   4
2      45      9                   2

### 11.7 Indexing / seletion

- Row selection, for example, returns a Series whose index is the columns of the DataFrame:
- Pandas now supports three types of Multi-axes indexing; the three types are:
    - .loc()  (label based)
    - .iloc()  (integer based)
    - .ix()    (both label and integer based)
- loc takes two single/list/range operator separated by ','. The first one indicates the row and the second one indicates columns.
- iloc(): Pandas provide various methods in order to get purely integer based indexing. Like python and numpy, these are 0-based indexing.
- ix(): Besides pure label based and integer based, Pandas provides a hybrid method for selections and subsetting the object using the .ix() operator.

#### .loc()

In [232]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

#select all rows for a specific column
print (df.loc[:,'A'])

a    0.207950
b   -1.684791
c    0.781118
d    0.751625
e   -0.116166
f    0.577208
g    1.473867
h   -2.471892
Name: A, dtype: float64

In [ ]:
import pandas as pd
import numpy as np

In [233]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

# Select all rows for multiple columns, say list[]
print (df.loc[:,['A','C']])

          A         C
a  1.066850 -0.495550
b -0.922100  1.544483
c -0.236654  0.906970
d  1.452496  1.644997
e -0.510773  1.182212
f -1.549172 -0.015176
g -0.554755 -0.269795
h -1.955669 -0.048076

In [234]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

# Select range of rows for all columns
print (df.loc['a':'h'])

          A         B         C         D
a  0.527269  1.122385  1.529227  0.513241
b  0.835835  0.683531 -0.446033 -0.435003
c -1.073109  0.988950  0.111409  0.822644
d  2.064167  0.452762 -0.229707  0.077911
e  1.037314  0.331628 -1.169102  1.183736
f -1.062902  1.025658 -0.098642  0.019575
g  1.024057 -0.255578 -1.695032  0.618576
h  0.159495 -0.177469  1.299108 -0.366825

#### .iloc()

In [244]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

# select all rows for a specific column
print (df.iloc[:4])

          A         B         C         D
0 -0.300596  1.247380 -0.116273  0.318754
1  0.356633 -0.783474 -0.437488 -1.415226
2  0.734219 -1.416215 -0.974136  0.102027
3 -0.753696  0.542729  0.935720  1.279231

In [243]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

# Integer slicing

print (df.iloc[1:5, 2:4])

          C         D
1  1.173333 -0.501265
2 -0.642008 -1.097259
3  0.721094 -0.796516
4 -0.896581 -0.537916

#### .ix()

In [247]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

# Integer slicing
print (df.ix[:4])

AttributeError: 'DataFrame' object has no attribute 'ix'

In [248]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])
# Index slicing
print (df.ix[:,'A'])

AttributeError: 'DataFrame' object has no attribute 'ix'

**<span style="color:red"> My Work </span>**

In [241]:
#.loc ()
df = pd.DataFrame(np.random.randn(4,4),
index = ['a','b','c','d'], columns = ['A', 'B', 'C', 'D'])

#selects all the rows from a-b
print (df.loc["a": "b"])

          A         B         C         D
a  0.522808  1.708109 -0.263864  0.272129
b -0.852918  2.172717  0.759578 -0.695086

In [246]:
#.iloc()
#prints all the calues in the second row (0,1) of all columns 
print (df.iloc[1])

A    0.356633
B   -0.783474
C   -0.437488
D   -1.415226
Name: 1, dtype: float64

In [252]:
#.ix is removed so the alternative would be just 
print (df.loc[:,"A"])

0    0.138005
1   -1.383841
2    0.118872
3    1.615577
4   -0.051093
5   -0.411261
6   -1.452848
7   -1.104461
Name: A, dtype: float64

## 11.8 Data alignment and arithmetic

 - Data alignment between DataFrame objects automatically align on both the columns and the index (row labels).
 - Again, the resulting object will have the union of the column and row labels.

In [253]:
df1 = pd.DataFrame(np.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])
df1

          A         B         C         D
0 -1.584278  1.251135  0.920530  1.813217
1 -0.036671 -1.911360 -0.208951  2.234754
2  0.225950  0.577595 -0.793292 -1.622714
3 -0.699245 -2.517315  0.522219  0.630105
4  1.097427  0.988582  1.348807 -1.717625
5  1.075320 -0.507323 -1.440184 -0.111090
6  0.887512  0.255464 -0.124122  0.322060
7  0.042132  0.155437 -0.007986 -1.642590
8  0.846648 -0.163897  0.112068 -0.969666
9  1.146468 -0.293800  0.242975  1.710601

In [254]:

df2 = pd.DataFrame(np.random.randn(7, 3), columns=['A', 'B', 'C'])
df2

          A         B         C
0  0.289758  0.345345 -0.109116
1  0.215393  0.388733  0.004910
2  0.301547  0.757031  0.989618
3  0.643592  1.012924  1.102264
4  0.843374  0.649259  0.389555
5  0.233492 -1.869568 -0.839222
6 -0.984254  2.889241 -1.009180

In [255]:
df1+df2

          A         B         C   D
0 -1.294520  1.596481  0.811414 NaN
1  0.178722 -1.522626 -0.204040 NaN
2  0.527497  1.334626  0.196326 NaN
3 -0.055653 -1.504391  1.624483 NaN
4  1.940802  1.637842  1.738362 NaN
5  1.308812 -2.376891 -2.279407 NaN
6 -0.096742  3.144706 -1.133302 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN

- When doing an operation between DataFrame and Series, the default behavior is to align the Series index on the DataFrame columns, thus broadcasting row-wise. For example:

In [256]:
df1 - df1.iloc[0]

          A         B         C         D
0  0.000000  0.000000  0.000000  0.000000
1  1.547607 -3.162495 -1.129481  0.421538
2  1.810227 -0.673540 -1.713822 -3.435930
3  0.885033 -3.768450 -0.398311 -1.183112
4  2.681705 -0.262553  0.428277 -3.530842
5  2.659598 -1.758458 -2.360715 -1.924307
6  2.471790 -0.995671 -1.044652 -1.491156
7  1.626410 -1.095698 -0.928516 -3.455807
8  2.430925 -1.415032 -0.808462 -2.782882
9  2.730746 -1.544936 -0.677555 -0.102615

 - In the special case of working with time series data, and the DataFrame index also contains dates, the broadcasting will be column-wise:

In [257]:
index = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=list('ABC'))
df

                   A         B         C
2000-01-01 -0.485191 -2.518770  1.017145
2000-01-02 -0.671774  0.450907 -0.579312
2000-01-03  1.352476 -0.539220 -1.311100
2000-01-04 -0.540695  0.066598 -1.243064
2000-01-05  0.831570 -0.211687 -0.377875
2000-01-06  0.303603  1.700697 -0.180259
2000-01-07 -0.788558  3.405299 -0.201952
2000-01-08 -0.271058 -0.975132 -0.108546

In [258]:
df1* 10 + 2

           A          B          C          D
0 -13.842776  14.511353  11.205301  20.132166
1   1.633291 -17.113596  -0.089506  24.347542
2   4.259495   7.775951  -5.932922 -14.227138
3  -4.992449 -23.173149   7.222192   8.301049
4  12.974273  11.885825  15.488067 -15.176255
5  12.753199  -3.073229 -12.401844   0.889098
6  10.875124   4.554645   0.758784   5.220602
7   2.421323   3.554369   1.920141 -14.425899
8  10.466477   0.361032   3.120681  -7.696656
9  13.464679  -0.938002   4.429748  19.106013

In [259]:
1/df1

           A         B           C         D
0  -0.631203  0.799274    1.086331  0.551506
1 -27.269564 -0.523188   -4.785821  0.447477
2   4.425768  1.731317   -1.260570 -0.616252
3  -1.430114 -0.397249    1.914905  1.587037
4   0.911222  1.011549    0.741396 -0.582199
5   0.929956 -1.971131   -0.694356 -9.001694
6   1.126745  3.914439   -8.056616  3.105009
7  23.734758  6.433479 -125.220071 -0.608795
8   1.181129 -6.101400    8.923145 -1.031283
9   0.872244 -3.403674    4.115653  0.584590

In [260]:
df1**5

              A           B             C          D
0 -9.980594e+00    3.065642  6.609827e-01  19.599656
1 -6.631459e-08  -25.510092 -3.983068e-04  55.737670
2  5.889209e-04    0.064286 -3.141709e-01 -11.251479
3 -1.671655e-01 -101.085228  3.883866e-02   0.099326
4  1.591765e+00    0.944201  4.464250e+00 -14.950041
5  1.437767e+00   -0.033606 -6.195703e+00  -0.000017
6  5.506456e-01    0.001088 -2.946027e-05   0.003465
7  1.327627e-07    0.000091 -3.248107e-11 -11.957648
8  4.350244e-01   -0.000118  1.767707e-05  -0.857255
9  1.980658e+00   -0.002189  8.468497e-04  14.646844

- Boolean operators work as well:

In [261]:
df1 = pd.DataFrame({'a' : [1, 0, 1], 'b' : [0, 1, 1] }, dtype=bool)
df1

       a      b
0   True  False
1  False   True
2   True   True

In [262]:
df2 = pd.DataFrame({'a' : [0, 1, 1], 'b' : [1, 1, 0] }, dtype=bool)
df2

       a      b
0  False   True
1   True   True
2   True  False

In [263]:
df1&df2

       a      b
0  False  False
1  False   True
2   True  False

In [264]:
df1 | df2

      a     b
0  True  True
1  True  True
2  True  True

In [265]:
df1^df2

       a      b
0   True   True
1   True  False
2  False   True

In [266]:
-df1

       a      b
0  False   True
1   True  False
2  False  False

**<span style="color:red"> My Work </span>**

In [268]:
df1 = pd.DataFrame(np.random.randn(3, 3), columns=['A', 'B', 'C'])
df1

          A         B         C
0  1.071892  1.025350  1.271000
1  0.151119 -0.875800 -0.730962
2 -0.027470  0.408043 -1.273388

In [270]:
df2 = pd.DataFrame(np.random.randn(3, 4), columns=['A', 'B', 'C', 'D'])
df2

          A         B         C         D
0 -0.582059  1.318955  0.750685 -2.288803
1 -1.449598  1.043725 -0.412370 -0.536506
2 -0.823681 -1.131590 -1.458129 -0.730890

In [278]:
#adds the two tables together but D has nothing because df1 has no D column
df = df1+df2
df

          A         B         C   D
0  0.489833  2.344306  2.021685 NaN
1 -1.298479  0.167925 -1.143332 NaN
2 -0.851152 -0.723547 -2.731517 NaN

## 11.9 transposing

- To transpose, access the T attribute (also the transpose function), similar to an ndarray:

In [267]:
# only show the first 4 rows
df[:4].T

   2000-01-01  2000-01-02  2000-01-03  2000-01-04
A   -0.485191   -0.671774    1.352476   -0.540695
B   -2.518770    0.450907   -0.539220    0.066598
C    1.017145   -0.579312   -1.311100   -1.243064

**<span style="color:red"> My Work </span>**

In [281]:
#makes our own date table
index = pd.date_range('4/3/2013', periods=4)
datef = pd.DataFrame(np.random.randn(4, 2), index=index, columns=list('AB'))
datef

                   A         B
2013-04-03 -1.065267 -2.160770
2013-04-04 -1.152422  0.032166
2013-04-05 -0.553662  0.409540
2013-04-06  0.571208 -1.011670

In [282]:
#show only the first two rows of the date table
datef[:2].T

   2013-04-03  2013-04-04
A   -1.065267   -1.152422
B   -2.160770    0.032166